{% extends 'base.html' %}

{% block h1_title %}
{{object.av_number}} Details
{% endblock %}

{% block content %}
<p>ArchivesSpace Ref ID: {{object.refid}}</p>
<h2>{{object.title}}</h2>
{% if object.type == object.AUDIO %}
<audio controls preload="auto" autobuffer>
    <source src="{{MEDIA_URL}}/{{object.refid}}/{{object.refid}}.mp3" type="audio/mpeg">
    Your browser does not support the audio tag.
  </audio>
{% elif object.type == object.VIDEO %}
<video width="320" height="240" controls>
    <source src="{{MEDIA_URL}}/{{object.refid}}/{{object.refid}}.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
{% endif %}

{% if object.multiple_masters %}
<p>Access file duration: {{object.duration_access}} seconds</p>
<p>Master file duration: {{object.duration_master}} seconds</p>
{% endif %}

<h2>Assign Rights</h2>
{% for statement in rights_statements %}
  <div class="input-group">
    <input
      type="checkbox"
      class="checkbox--rights"
      id={{statement.aquila_id}}
      name="{{statement.title}}"
    />
    <label for={{statement.aquila_id}} class="checkbox--blue">{{statement.title}}</label>
  </div>
{% endfor %}

<div id="error-message" class="input__error" style="display:none"></div>

<div class="mt-20">
  <button id="approve-button" type="submit" class="btn btn--sm btn--blue">Approve Item</button>
  <button type="cancel" class="btn btn--sm btn--orange" data-micromodal-trigger="modal__reject-single">Reject Item</button>
</div>
{% endblock %}

{% block modals %}
{% include 'modal_approve_single.html' %}
{% include 'modal_reject_single.html' %}
{% endblock %}